<?xml version="1.0" encoding="utf-8"?><!--
  ~ // Copyright 2021 ADTIMING TECHNOLOGY COMPANY LIMITED
  ~ // Licensed under the GNU Lesser General Public License Version 3
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openmediation.sdk.mobileads.inmobi">

    <application android:hardwareAccelerated="true" />
</manifest>